 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/pexels-dana-tentis-370799.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -72px 0 0 auto;
  padding: 14px;
}

.u-section-1 .u-image-1 {
  height: 560px;
  margin-top: 59px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 177px;
  height: 85px;
  margin: 44px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 900px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-icon-1 {
    width: 50px;
    height: 50px;
    margin-top: -58px;
    padding: 9px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-1 .u-icon-1 {
    width: 38px;
    height: 38px;
    margin-top: -45px;
    margin-right: -38px;
    padding: 8px;
  }

  .u-section-1 .u-image-1 {
    height: 391px;
    width: 416px;
    margin-top: 30px;
    margin-left: -38px;
    margin-right: -38px;
  }

  .u-section-1 .u-shape-1 {
    width: 105px;
    height: 64px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}